body {
    //background-color: #DDDDDD;  // grey
    background-color: #23232F;    // slate
}


td, tr, table, pre {
    background-color: #bbbbbbff;  // #CDCDCD;
}

td, tr, table, pre, code, pre, .codehilite code, .codehilite pre {
    background-color: #191A21FF;  // table background for slate
    //background-color: #EEEEEEFF;  // table background for white
    font-size: px2rem(18px);
    height: px2rem(13px);
}


.codehilitetable {
    //background-color: #000000FF; // code background
    //background: #ffff00ff; // code background
    //text: #FFFF00FF;
    //color: #ffffffff;
}

/*
pre.codehilite {
    code {
        background-color: #000000; // code background
        text: #FFFF00;
    }
}
*/

/*
.linenodiv,
.linenos
{
    background-color: #9f9f9fff; // line num background
    color: #ffffff;
    text: #ffffff;
}
*/
/*
.codehilitetable {
    background-color: rgb(0, 0, 0); // code background
    background: #1A2635FF; // code background
    text: #FFFF00FF;
    color: #ffffff;
}

.td,
.tr,
.linenodiv,
.linenos
{
    background-color: #bbbbbb; // code background
    color: #ffffff;
    text: #ffffff;
    
    .pre,
    .code,
    .div {
    color: #ffffffff;
    text: #ffffffff;
    }
}
*/



//.codehilitetable .hll { background-color: #ffffcc }
//.codehilitetable    { background: #f0f0f0; }
//.codehilitetable .c   { color: #60a0b0 } /* Comment */
//.codehilitetable .err { border: 1px solid #FF0000 } /* Error */
//.codehilitetable .k   { color: #007020 } /* Keyword */
//.codehilitetable .o   { color: #666666 } /* Operator */
//.codehilitetable .ch  { color: #60a0b0 } /* Comment.Hashbang */
//.codehilitetable .cm  { color: #60a0b0 } /* Comment.Multiline */
//.codehilitetable .cp  { color: #007020 } /* Comment.Preproc */
//.codehilitetable .cpf { color: #60a0b0 } /* Comment.PreprocFile */
//.codehilitetable .c1  { color: #60a0b0 } /* Comment.Single */
//.codehilitetable .cs  { color: #60a0b0; background-color: #fff0f0 } /* Comment.Special */
//.codehilitetable .gd  { color: #A00000 } /* Generic.Deleted */
//.codehilitetable .ge  { font-style: italic } /* Generic.Emph */
//.codehilitetable .gr  { color: #FF0000 } /* Generic.Error */
//.codehilitetable .gh  { color: #000080 } /* Generic.Heading */
//.codehilitetable .gi  { color: #00A000 } /* Generic.Inserted */
//.codehilitetable .go  { color: #888888 } /* Generic.Output */
//.codehilitetable .gp  { color: #c65d09 } /* Generic.Prompt */
//.codehilitetable .gs  { font-weight: bold } /* Generic.Strong */
//.codehilitetable .gu  { color: #800080 } /* Generic.Subheading */
//.codehilitetable .gt  { color: #0044DD } /* Generic.Traceback */
//.codehilitetable .kc  { color: #007020 } /* Keyword.Constant */
//.codehilitetable .kd  { color: #007020 } /* Keyword.Declaration */
//.codehilitetable .kn  { color: #007020 } /* Keyword.Namespace */
//.codehilitetable .kp  { color: #007020 } /* Keyword.Pseudo */
//.codehilitetable .kr  { color: #007020 } /* Keyword.Reserved */
//.codehilitetable .kt  { color: #902000 } /* Keyword.Type */
//.codehilitetable .m   { color: #40a070 } /* Literal.Number */
//.codehilitetable .s   { color: #4070a0 } /* Literal.String */
//.codehilitetable .na  { color: #4070a0 } /* Name.Attribute */
//.codehilitetable .nb  { color: #007020 } /* Name.Builtin */
//.codehilitetable .nc  { color: #0e84b5 } /* Name.Class */
//.codehilitetable .no  { color: #60add5 } /* Name.Constant */
//.codehilitetable .nd  { color: #555555 } /* Name.Decorator */
//.codehilitetable .ni  { color: #d55537 } /* Name.Entity */
//.codehilitetable .ne  { color: #007020 } /* Name.Exception */
//.codehilitetable .nf  { color: #06287e } /* Name.Function */
//.codehilitetable .nl  { color: #002070 } /* Name.Label */
//.codehilitetable .nn  { color: #0e84b5 } /* Name.Namespace */
//.codehilitetable .nt  { color: #062873 } /* Name.Tag */
//.codehilitetable .nv  { color: #bb60d5 } /* Name.Variable */
//.codehilitetable .ow  { color: #007020 } /* Operator.Word */
//.codehilitetable .w   { color: #bbbbbb } /* Text.Whitespace */
//.codehilitetable .mb  { color: #40a070 } /* Literal.Number.Bin */
//.codehilitetable .mf  { color: #40a070 } /* Literal.Number.Float */
//.codehilitetable .mh  { color: #40a070 } /* Literal.Number.Hex */
//.codehilitetable .mi  { color: #40a070 } /* Literal.Number.Integer */
//.codehilitetable .mo  { color: #40a070 } /* Literal.Number.Oct */
//.codehilitetable .sa  { color: #4070a0 } /* Literal.String.Affix */
//.codehilitetable .sb  { color: #4070a0 } /* Literal.String.Backtick */
//.codehilitetable .sc  { color: #4070a0 } /* Literal.String.Char */
//.codehilitetable .dl  { color: #4070a0 } /* Literal.String.Delimiter */
//.codehilitetable .sd  { color: #4070a0 } /* Literal.String.Doc */
//.codehilitetable .s2  { color: #4070a0 } /* Literal.String.Double */
//.codehilitetable .se  { color: #4070a0 } /* Literal.String.Escape */
//.codehilitetable .sh  { color: #4070a0 } /* Literal.String.Heredoc */
//.codehilitetable .si  { color: #70a0d0c } /* Literal.String.Interpol */
//.codehilitetable .sx  { color: #c65d09 } /* Literal.String.Other */
//.codehilitetable .sr  { color: #235388 } /* Literal.String.Regex */
//.codehilitetable .s1  { color: #4070a0 } /* Literal.String.Single */
//.codehilitetable .ss  { color: #517918 } /* Literal.String.Symbol */
//.codehilitetable .bp  { color: #007020 } /* Name.Builtin.Pseudo */
//.codehilitetable .fm  { color: #06287e } /* Name.Function.Magic */
//.codehilitetable .vc  { color: #bb60d5 } /* Name.Variable.Class */
//.codehilitetable .vg  { color: #bb60d5 } /* Name.Variable.Global */
//.codehilitetable .vi  { color: #bb60d5 } /* Name.Variable.Instance */
//.codehilitetable .vm  { color: #bb60d5 } /* Name.Variable.Magic */
//.codehilitetable .il  { color: #40a070 } Literal.Number.Integer.Long */
